# Email Service Configuration
# Get your API key from https://resend.com
RESEND_API_KEY=re_2yz6Jnib_2JjtjAxU9ykiGa6oH53uqs4G
OLD=re_ftFT7pNy_BN4Le1TH5j3L5nH7yWeoqrcV

# Optional: Customize email settings
FROM_EMAIL=onboarding@resend.dev
TO_EMAIL=elvision.technology@gmail.com
